<!doctype html>
<html ng-app='NarrowItDownApp' lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>

  <div ng-controller="NarrowItDownController as narrowCtrl">

    <div>
      <div id="search">

        <div>
          <h2>Narrow Down Your Chinese Menu Choice</h2>
        </div>

        <div>

          
            <div>
              
              <input type="text" placeholder="search term" ng-model="narrowCtrl.searchTerm">
              <button ng-click="narrowCtrl.searchMenuItems()">
            Narrow It Down For Me!
          </button>
            </div>
  
        </div>
      </div>

      <found-items
        items="narrowCtrl.found"
        on-remove="narrowCtrl.removeItem(index)">
      </found-items>
    </div>
  </div>
</body>
</html>
