<!doctype html>
<html ng-app='NarrowItDownApp' lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    
  </head>
<body>

  <div ng-controller="NarrowItDownController as narrowCtrl">

    <div>
      <div id="search" >

        <div >
          <h2 >Narrow Down Your Chinese Menu Choice</h2>
        </div>

        <div>

          <form ng-submit="narrowCtrl.searchMenuItems()">
            <div>
              <input ng-model="narrowCtrl.searchTerm" type="text" id="keyword">
              <label class="mdl-textfield__label" for="keyword">Search term</label>
            </div>
          </form>

          <button ng-click="narrowCtrl.searchMenuItems()">
            Narrow It Down For Me!
          </button>

        </div>
      </div>

      <found-items
        items="narrowCtrl.found"
        on-remove="narrowCtrl.removeItem(index)">
      </found-items>
    </div>
  </div>
</body>
</html>
